@model EAttendance.Models.InstructorCourse

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Staff Assignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InstructorCourseId" />
            <input type="hidden" asp-for="UserCreated" />
            <input type="hidden" asp-for="DateCreated" />
            <div class="form-group">
                <label asp-for="StaffId" class="control-label"></label>
                <select asp-for="StaffId" class="form-control" asp-items="ViewBag.StaffId">
                    <option selected>Please Select Staff</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" class="form-control" asp-items="ViewBag.SubjectId">
                    <option selected>Please Select Subject</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>

