@model EAttendance.Models.Student

@{
    ViewData["Title"] = "Create";
}


<h4>Create Student Profile</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <label>Student Details</label>
            <div class="dt-card dt-card__body">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MiddleName" class="control-label"></label>
                            <input asp-for="MiddleName" class="form-control" />
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DOB" class="control-label"></label>
                            <input asp-for="DOB" class="form-control" />
                            <span asp-validation-for="DOB" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            <select asp-for="Gender" class="custom-select custom-select-sm mb-3" required>
                                <option selected>Please Select</option>
                                <option>Male</option>
                                <option>Female</option>

                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img src="~/assets/images/image_placeholder.jpg" style="width:50%" alt="..." id="blah">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            <div>
                                <label>Upload Image</label>
                                <input type="file"
                                       onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0]), checkPhoto(this)"
                                       asp-for="ImageUrl" id="photoInput" required />

                                <span class="text-danger" id="photoLabel"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
          
            <div class="dt-card dt-card__body">

                <div class="form-row">

                    <label asp-for="Address" class="control-label"></label>
                    <textarea asp-for="Address" class="form-control"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FingerPrintID" class="control-label"></label>
                            <input asp-for="FingerPrintID" class="form-control" />
                            <span asp-validation-for="FingerPrintID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MatricNo" class="control-label"></label>
                            <input asp-for="MatricNo" class="form-control" />
                            <span asp-validation-for="MatricNo" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Department" class="control-label"></label>
                            <input asp-for="Department" class="form-control" />
                            <span asp-validation-for="Department" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>
            </div>

    </div>
  
     
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>


</form>
<div>
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>

